@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

img {
    max-width: 100%;
    vertical-align: top;
}

body {
    color: #333;
    background-color: #fff;
}


.wrap {
    width: 100%;
    position: relative;
}

header {
    width: 100%;
    height: 100px;
    background-color: #00734b;

}

.h_inner {
    width: 1200px;
    height: 100%;
    margin: auto;
    position: relative;
}

.h_inner>a {
    width: 200px;
    height: 100%;
    align-content: center;
}

nav {
    position: absolute;
    top: 25px;
    right: 0;
    z-index: 99;
}

nav>ul {
    display: flex;
}

nav>ul>li {
    width: 150px;
    text-align: center;
}

nav>ul>li>a {
    height: 50px;
    align-content: center;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
}

nav>ul>li>a.on,
nav>ul>li:hover>a {
    border-bottom: 2px solid #fff;
}


.sub {
    display: none;
}

.sub>li {}

.sub>li>a {
    height: 50px;
    align-content: center;
    background-color: #dadada;
    color: #00734b;
}

.sub>li>a.on,
.sub>li:hover>a {
    background-color: #fff;
}

.slide {
    width: 1200px;
    height: 300px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.slide>ul {
    width: 100%;
    height: 900px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.slide>ul>li {
    width: 100%;
    height: 300px;
}

.slide>ul>li>a {
    width: 100%;
    height: 100%;
    align-content: end;
}

.slide .s_text {
    background-color: rgb(0, 0, 0, 0.5);
    text-align: right;
    color: #fff;
    padding: 30px 50px;
}

.slide .s_text>h2 {
    font-size: 25px;
}

.slide .s_text>p {
    font-size: 20px;
    margin-top: 5px;
}


.slide .s1 {
    background: url(/img/img1.jpg) no-repeat center/cover;
}

.slide .s2 {
    background: url(/img/img2.jpg) no-repeat center/cover;

}

.slide .s3 {
    background: url(/img/img3.jpg) no-repeat center/cover;

}





main {
    width: 1200px;
    height: 200px;
    margin: auto;
    display: flex;
}

main h3 {
    width: 130px;
    height: 40px;
    align-content: center;
    text-align: center;
    background-color: #00734b;
    color: #fff;
    display: inline-block;
}

main .notice {
    width: 400px;
    height: 100%;
}


main .notice>ul {
    width: 100%;
    height: 160px;
    background-color: #00734b;
    padding: 10px 20px;

}

main .notice>ul>li {
    margin-top: 7px;
    padding: 3px 0;
}

main .notice>ul>li>a {
    display: flex;
    justify-content: space-between;
    color: #fff;
}


main .gall {
    width: 400px;
    height: 100%;
}

main .gall>ul {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-top: 40px;
}

main .gall>ul>li {
    opacity: 0.5;
}

main .gall>ul>li:hover {
    opacity: 1;

}

main .gall>ul>li>a {
    border: 1px solid #00734b;
}

main .gall>a>h3 {
    background-color: #dadada;
    color: #00734b;
}

main .gall>ul {
    width: 100%;
    height: 160px;
    background-color: #dadada;
}

main .gall>ul>li {}

main .gall>ul>li>a {}

main .banner {
    width: 400px;
    height: 100%;
}

main .banner>a {
    width: 100%;
    height: 100%;
    align-content: center;
    text-align: center;
    background: url(/img/banner.jpg);
    color: #fff;
}

main .banner .b_text {
    display: inline-block;
    background-color: rgb(0, 0, 0, 0.5);
    padding: 10px 20px;
}

footer {
    width: 100%;
    height: 100px;
    background-color: #a8a8a8;
}

.f_inner {
    width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

}

.f_inner>a {
    width: 200px;
}

.f_inner .copy {
    width: 800px;

}

.f_inner .sns {
    width: 200px;

}

.f_inner .sns>ul {
    display: flex;
    gap: 5px;
}

.f_inner .sns>ul>li {}


.pop {
    width: 500px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    display: none;
}

.pop>h2 {}

.pop>p {
    line-height: 24px;
    margin-top: 20px;
}

.pop .pop_off {
    cursor: pointer;
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.pop .pop_off:hover {
    color: #00734b;
}